{% extends 'core/base.html' %}

{% block title %}{{ category.title }}{% endblock %}

{% block content %}
    <div>
        {% for post in category.posts.all %}
            <article>
                <h1>{{ post.title }}</h1>
                <small>Category: {{ post.category }}</small>
                <figure>
                    <img src="{{ post.media }}" alt="Media" />
                    <figcaption>
                        <h2>{{ post.created_at|timesince }} ago</h2>
                    </figcaption>
                </figure>
                <p>{{ post.content }}</p>
                <a href="{% url 'website.details' post.category.slug post.slug %}">Read more</a>
            </article>
        {% endfor %}
    </div>
{% endblock %}