{% extends 'core/base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block header %}
<div></div>
{% endblock %}

{% block content %}
<div>
    <article>
        <h1>{{ post.title }}</h1>
        <a href="{% url 'website.category' post.category.slug %}">{{ post.category }}</a>
        <figure>
            {% if post.media %}
                <img src="{{ post.media.url }}" alt="Media"/>
            {% endif %}
            <figcaption>
                <h2>{{ post.created_at|timesince }}</h2>
            </figcaption>
            <p>{{ post.content }}</p>
        </figure>

        <a href="{{ request.META.HTTP_REFERER }}">Back</a>
    </article>

    <div>
        <h2>Comments</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Submit comment</button>
        </form>

        <div>
            {% for comment in post.comments.all %}
                <article>
                    <h5>{{ comment.name }}</h5>
                    <small>{{ comment.created_at|timesince }}</small>
                    <p>{{ comment.content }}</p>
                </article>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}