{% extends 'core/base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block header %}
<div class="hero px-5 rounded">
    <div>
        <h3>Search results</h3>
        <h1>Query "{{ query }}"</h1>
    </div>
    
</div>
{% endblock %}

{% block content %}
    <div class="row">
        {% for post in posts %}
            <article class="col-md-4">
                <h1>{{ post.title }}</h1>
                <small>Category: {{ post.category }}</small>
                <figure>
                    {% if post.media %}
                        <img src="{{ post.media.url }}" alt="Media" />
                    {% endif %}

                    <figcaption>
                        <h2>{{ post.created_at|timesince }} ago</h2>
                    </figcaption>
                </figure>
                <p>{{ post.content }}</p>
                <a href="{% url 'website.details' post.category.slug post.slug %}">Read more</a>
            </article>
        {% empty %}
            <div>
                <p>No result for the given query ...</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}