{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Title{% endblock %} | Blog</title>

    <!-- Stylesheet -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"/>
    <link rel="stylesheet" href="{% static 'css/app.css' %}"/>
    {% block style %}{% endblock %}
</head>
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">Blog</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% if title == 'Index' %}active{% endif %}" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if title == 'About' %}active{% endif %}" href="{% url 'website.about' %}">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                    </li>
                </ul>

                <form action="{% url 'website.search' %}" method="get" class="d-flex" role="search">
                    <input name="query" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <!-- Navigation end -->

    <!-- Header -->
    <header class="my-3">
        <div class="container">
            {% block header %}
                <h1>Header</h1>
            {% endblock %}
        </div>
    </header>
    <!-- Header end -->
    
    <!-- Main contenter -->
    <section class="my-5">
        <div class="container">
            {% block content %}
                <h1>Main container</h1>
            {% endblock %}
        </div>
    </section>
    <!-- Main contenter end -->

    <!-- Footer -->
    <footer class="footer pt-5 pb-3">
        <!-- primary footer -->
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <article>
                        <h5>MaxSOP Blog</h5>
                        <p>Fast growing software development company located in Bangladesh. Over the last 4+ years, we have served more than 1.6k+ customers of various industries. In our endeavor, we have a highly skilled developer, designer, analyst & management team. With many happy clients at home and abroad MaxSOP is moving forward.</p>
                        <p>Our goal is to take the information technology sector of Bangladesh to the next level and make accessible to people of every corner of our country.</p>
                    </article>
                </div>

                <div class="col-md-3">
                    <nav>
                        <h5>Development & IT</h5>
                        <ul>
                            <li><a href="#">Design & Development</a></li>
                            <li><a href="#">Mobile App Development</a></li>
                            <li><a href="#">Graphics & Media</a></li>
                            <li><a href="#">Ads & Degital Marketing</a></li>
                            <li><a href="#">Cloud Services</a></li>
                            <li><a href="#">QA and Test Automation</a></li>
                            <li><a href="#">Education & Training</a></li>
                            <li><a href="#">Maintenance & Implementation</a></li>
                            <li><a href="#">Consultancy</a></li>
                        </ul>
                    </nav>
                </div>

                <div class="col-md-2">
                    <nav>
                        <h5>Resources</h5>
                        <ul>
                            <li><a href="#">Help & Support</a></li>
                            <li><a href="#">MaxSOP Community</a></li>
                            <li><a href="#">MaxSOP Lab</a></li>
                            <li><a href="#">Testimonials</a></li>
                            <li><a href="#">Engineering Blog</a></li>
                            <li><a href="#">Business tools</a></li>
                            <li><a href="#">Webinars</a></li>
                        </ul>
                    </nav>
                </div>

                <div class="col-md-2">
                    <nav>
                        <h5>Company</h5>
                        <ul>
                            <li><a href="{% url 'website.about' %}">About us</a></li>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Our Leadership</a></li>
                            <li><a href="#">Ethics & Compliance</a></li>
                            <li><a href="#">Investor Relations</a></li>
                            <li><a href="#">Press Room</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div> 

        <!-- copyright footer -->
        <div class="container">
            <nav class="mb-3">
                <a rel="nofollow" href="https://www.facebook.com/themaxsop" class="facebook me-2" target="_blank">
                    <i class="bi bi-facebook"></i>
                </a>

                <a rel="nofollow" href="https://www.youtube.com/channel/UCragUvgM7Dw6Ic357vG42UQ" class="youtube me-2" target="_blank">
                    <i class="bi bi-youtube"></i>
                </a>

                <a rel="nofollow" href="https://github.com/themaxsop" class="github me-2" target="_blank">
                    <i class="bi bi-github"></i>
                </a>

                <a rel="nofollow" href="https://twitter.com/maxsopofficial" class="twitter me-2" target="_blank">
                    <i class="bi bi-twitter"></i>
                </a>

                <a rel="nofollow" href="https://www.linkedin.com/company/maxsop/" class="linkedin me-2" target="_blank">
                    <i class="bi bi-linkedin"></i>
                </a>

                <a rel="nofollow" href="https://www.pinterest.com/maxsopofficial/_created/" class="pinterest me-2" target="_blank">
                    <i class="bi bi-pinterest"></i>
                </a>
            </nav>

            <div class="row">
                <div class="col-md-6">
                    <nav>
                        <a href="#" class="me-3">Privacy policy</a>
                        <a href="#" class="me-3">Terms & Conditions</a>
                        <a href="#" class="me-3">Accessibility</a>
                        <a href="#" class="me-3">Legal</a>
                        <a href="#" class="me-3">Site map</a>
                    </nav>
                </div>

                <div class="col-md-6 text-end">
                    <p>Copyright &copy; 2018 - {% now 'Y' %} <a href="https://maxsop.com" target="_blank">MaxSOP</a>. All rights reserved.</p>
                </div>
            </div>
            
        </div>
    </footer>
    <!-- Footer end -->

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>